@import "../../scss/variables";

.video {
  height: 655px;
  width: 1040px;
}

.wrapper {
  height: 655px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chat {
  height: 100%;
  background-color: $backgroundHeader;
  width: 300px;
  margin-right: 40px;
  border-radius: 30px;
  position: relative;
}

.chatBottomText {
  position: absolute;
  left: 25%;
  bottom: 20px;
  font-weight: 500;
}

.poloska {
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 50px;
  opacity: 0.6;
}

.chatTopText {
  position: absolute;
  left: 40%;
  top: 20px;
  font-size: 30px;
  font-weight: 500;
}

.poloska2 {
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 70px;
  opacity: 0.6;
}

.poloska3 {
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 190px;
  opacity: 0.6;
}

.poloska4 {
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 120px;
  opacity: 0.6;
}

.chatMessage1 {
  position: absolute;
  bottom: 80px - 10px;
  left: 25px;
}

.chatMessage2 {
  position: absolute;
  bottom: 140px;
  left: 25px;
}

.chatMessageSender1 {
  position: absolute;
  bottom: 105px - 10px;
  left: 23px;
  font-size: 18px;
  color: $orange;
  font-weight: 600;
}

.chatMessageSender2 {
  position: absolute;
  bottom: 165px;
  left: 23px;
  font-size: 18px;
  color: $orange;
  font-weight: 600;
}
