.button {
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  box-shadow: 0px 20px 30px rgba(179, 34, 31, 0.1);
  border-radius: 500px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  padding: 23px 123px;
}
