@import "../../scss/variables";

.header {
  padding: 0 360px;
  height: 120px;
  background-color: $backgroundHeader;
  width: 100%;
  display: flex;
  align-items: center;
}

.headerInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.headerLogo:hover .headerLogoText {
  color: $orange;
}

.headerLogo:hover .headerLogoPhoto * {
  fill: $orange;
}

.headerLogoPhotoDiv {
  height: 60px;
  width: 60px;
}

.headerLogoPhoto * {
  fill: white;
  transition: $transition;
}

.headerLogoText {
  margin-left: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  transition: $transition;
}

.headerProfile {
  display: flex;
  align-items: center;
}

.headerProfile:hover .headerProfilePhoto * {
  fill: $orange;
}

.headerProfile:hover .headerProfileText {
  color: $orange;
}

.headerProfilePhoto {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.headerProfilePhoto * {
  fill: white;
  transition: $transition;
}

.headerProfileText {
  transition: $transition;
  color: white;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.firstEver {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-right: 20px;
}

.firstEverRegistartion {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  background: transparent;
  padding: 11px 36px;
  border: 2px solid;
  border-radius: 500px;
  transition: $transition;
}

.firstEverRegistartion:hover {
  color: $orange;
  border-color: $orange;
}
.right {
  display: flex;
  align-items: center;
}

.burger {
  height: 30px;
  width: 30px;
  margin-left: 30px;
  transition: $transition;
}

.burger * {
  fill: white;
  transition: $transition;
}

.burger2 {
  height: 30px;
  width: 30px;
  margin-left: 30px;
  position: absolute;
  right: 60px;
  top: 43px;
  transition: $transition;
}

.burger2 * {
  fill: white;
  transition: $transition;
}

.burgerHover:hover .burger2 * {
  fill: $orange;
}

.burgerHover:hover .burger * {
  fill: $orange;
}

.burgerMenu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: darken($color: $backgroundHeader, $amount: 8%);
  width: 30%;
  padding: 50px;
}

.burgerLinks {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  transition: $transition;
}

.burgerLinks:hover {
  color: $orange;
}

.burgerInner {
  display: flex;
  flex-direction: column;
}
